*.aux
*.chi
*.chs.h
*.dyn_hi
*.dyn_o
*.eventlog
*.hi
*.hp
*.o
*.prof
*.swp
*~
.cabal-sandbox/
.dist-buildwrapper
.ghc*
.ghc.environment.*
.hpc
.hsenv
.project
.settings
.stack-work
.stack-work/
.virthualenv
SourceGraph
cabal-dev
cabal.project.local
cabal.project.local~
cabal.sandbox.config
dist
dist*
dist-*
result
